# Add to .gitignore
echo "# Chroma DB cache" >> .gitignore
echo "code_base/.chroma/" >> .gitignore
echo "" >> .gitignore
echo "# Streamlit secrets" >> .gitignore
echo "code_base/.streamlit/secrets.toml" >> .gitignore

# Ignore Python venv
venv/
code_base/venv/

# Chroma DB / cache
code_base/.chroma/

# Streamlit secrets
code_base/.streamlit/secrets.toml


# Ignore Python cache
__pycache__/
*.pyc

# Ignore DLL, EXE, etc.
*.dll
*.exe
*.pyd

# Ignore large files
*.zip
*.tar
*.bin
*.pdf
*.xlxs
*.pptx
*.txt
*.xlsx

# Ignore models
*.pt
*.pth

# Ignore credenrtials
code_base/*.json
!code_base/*.json.example
